.imgZoomInModal {


}

.divImgZoomInModal {

	text-align: center;
}

div#universalMessageText {

	color: white;

	position: absolute;

	text-align: center;

	top: 8px;

	z-index: 50000;

	width: 100%;

	font-size: 24px;

	background-color: black;

	text-transform: uppercase;
}

.topButtonStrip {

	position: fixed;

	top: 10px;

	left: 10%;

	z-index: 2000;
}

.topButton {

	width: 32px;
	margin-left: 32px;
}

.topButton2 {

	position: relative;

	left: 32px;
}