
<template name="layout">

    {{#if editStoryMode}}

        <div class="topButtonStripLeft">
            <img class= "topButton" id="startStoryEdit" onclick="testStoryEditor()" src="edit_icon.png" />

            <button type="button" class="btn btn-danger topButton2" onclick="testStory()" id="runStory">RUN</button>
        </div>

        <div class="topButtonStripRight">

            <button type="button" class="btn btn-default btn-lg glyphButton" id="locationEdit" onclick="ved.locationEdit()">
                <span class="glyphicon glyphicon-globe"></span>
            </button>

            <button type="button" class="btn btn-warning btn-lg glyphButton" id="sceneEdit" onclick="">
                <span class="glyphicon glyphicon-picture"></span>
            </button>

            <button type="button" class="btn btn-info btn-lg glyphButton" id="charEdit" onclick="ved.charEdit()">
                <span class="glyphicon glyphicon-user"></span>
            </button>

            <button type="button" class="btn btn-success btn-lg glyphButton" id="tokenEdit" onclick="ved.tokenEdit()">
                <span class="glyphicon glyphicon-apple"></span>
            </button>

            <button type="button" class="btn btn-primary btn-lg glyphButton" id="chatEdit" onclick="">
                <span class="glyphicon glyphicon-comment"></span>
            </button>

            <button type="button" class="btn btn-danger btn-lg glyphButton" id="flagEdit" onclick="">
                <span class="glyphicon glyphicon-check"></span>
            </button>

             <button type="button" class="btn btn-warning btn-lg glyphButton" id="cueEdit" onclick="">
                <span class="glyphicon glyphicon-list"></span>
            </button>           
        </div>

        <div class="topButtonSelections">

            {{#each menuElement}}    
                
                <button type="button" class="btn btn-default btn-lg selectionButton" id="" onclick="">
                    <img class="selectionImage" src="{{this.p}}" />
                </button>

            {{/each}}
        </div>

    {{/if}}

    <audio autoplay id="musicPlayer">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer2">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer3">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="soundPlayer">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    {{> newNav}}

    {{> Template.dynamic template=content}}

    {{> youtube}}

    {{#if waitingOnDatabase}}
        <div class="divSpinner">
            {{> spinner}}
        </div>
    {{/if}}



  <div id="universalMessageText"></div>

	<div class="invisible" id="preloadMain">

        <img id="pMAP" src="" />
    	<img id="pWEB" src="" />
    	<img id="pIMAGE" src="" />
        <img id="pTEXT" src="" />
        <img id="pSOUND" src="" />
        <img id="pVIDEO" src="" />

        <img id="pMAP2" src="" />
        <img id="pWEB2" src="" />
        <img id="pIMAGE2" src="" />
        <img id="pTEXT2" src="" />
        <img id="pSOUND2" src="" />
        <img id="pVIDEO2" src="" />

        <img id="pSCAN" src="tvScannerYellow.png" />
        <img id="pSCAN2" src="tvScannerGreen.png" />   

        <img id="pFEATURE" src="geohacker_background.png" />   
        <img id="pFEATURE2" src="" />

        <img id="pBACKDROP" src="screenBackdrop.jpg" />   
        <img id="pBACKDROP2" src="featuredBackdrop.jpg" />

	</div>


	<div class="invisible" id="preloadFeature">
		<img id="pFEATURE3" src="" />
	</div>

    <div class="invisible" id="preloadCountryMap">
        <img id="imgCountryMap" src="" />
    </div>

    <div class="invisible" id="preloadDebrief">
        <img id="imgDebrief" src="" />
    </div>

    <div class="invisible" id="preloadCapsule">
        <img id="imgCapital" src="" />
        <img id="imgFlag" src="" />
        <img id="imgLeader" src="" />
    </div>

    <div class="modal fade" id="countryNotListedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title modalText">My country is not listed</h4>
          </div>
          <div class="modal-body">
            <p class="modalText">         
                We do not have data for all the countries of the world in this game yet.  
                You may choose any country you like on this screen.  Choose the country of your birth or a country you are interested in, or pick one at random!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-wide fade" id="zoomInModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalText"></h4>
              </div>
              <div class="modal-body">
                <div class="divImgZoomInModal">
                    <img class="imgZoomInModal" src="" />
                </div>
                <p class="modalText"></p>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button>
          </div>
        </div>
      </div>
    </div>



</template>


