
<template name="layout">

  {{#if storyIsLoadedForEditing}}  <div class="windowSize"> {{windowSize}}</div> {{/if}}

    {{#if editStoryMode}}

        <div class="topButtonStripLeft"> 
            {{#if vedSelectStoryMode}}<button type="button" class="btn btn-default topButton1" onclick="sed.editData()" id="">DATA</button>{{/if}}

            <button type="button" class="btn btn-info topButton2" onclick="ved.selectStory()" id="">STORIES</button>


        </div>

        <div class="topButtonStripMiddle">

             {{#if storyIsLoaded}}

                <button type="button" class="btn btn-primary topButtonLeft" onclick="ved.editStoryObject()" id="editStoryObject">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>

                <button type="button" class="btn btn-warning topButtonLeft2" onclick="story.killSound()" id="killSound">
                    <span class="glyphicon glyphicon-volume-off"></span>
                </button>
                <button type="button" class="btn btn-danger topButton0Middle" onclick="ved.restartStory()" id="restartStory">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>

                <button type="button" class="btn btn-success topButton1Middle" onclick="ved.locationMenu(window.event)" id="runStory">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            {{/if}}

            <!--
              {{#if editorModeIsData}}               

                <button type="button" class="btn btn-danger topButton2Middle" onclick="sed.editData()" id="runStoryEditor">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

              {{/if}}
            -->
        </div>


        {{#if storyIsLoaded}}

            <div class="topButtonStripRight">

                <button type="button" class="btn btn-default btn-lg glyphButton" id="locationEdit" onclick="ved.editLocationObject()">
                    <span class="glyphicon glyphicon-globe"></span>
                </button>

                <button type="button" class="btn btn-info btn-lg glyphButton" id="charEdit" onclick="ved.charMenu()">
                    <span class="glyphicon glyphicon-user"></span>
                </button>

                <button type="button" class="btn btn-success btn-lg glyphButton" id="tokenEdit" onclick="ved.tokenMenu()">
                    <span class="glyphicon glyphicon-apple"></span>
                </button>

                 <button type="button" class="btn btn-warning btn-lg glyphButton" id="cueEdit" onclick="ved.editLocalObject('Cue', cCue, 'edit')">
                    <span class="glyphicon glyphicon-list"></span>
                </button>    

                <button type="button" class="btn btn-primary btn-lg glyphButton" id="chatEdit" onclick="ved.editLocalObject('Chat', cChat, 'edit')">
                    <span class="glyphicon glyphicon-comment"></span>
                </button>

                <button type="button" class="btn btn-danger btn-lg glyphButton" id="flagEdit" onclick="ved.edit('StoryFlag', cStoryFlag, 'edit')">
                    <span class="glyphicon glyphicon-flag"></span>
                </button>

                <button type="button" class="btn btn-default btn-lg glyphButton" id="labelEdit" onclick="ved.labelMenu()">
                    <span class="glyphicon glyphicon-font"></span>
                </button>       
            </div>

            <div class="topButtonSelections">

                {{#each menuElement}}    

                        {{#if locationType}}

                            <button type="button" class="btn btn-default btn-lg selectionButton" id="{{this.n}}">
                                <span style="font-family:Arial; fontSize:48px; color:black;">{{this.n}}</span>
                                <img class="selectionImage" src="{{this.p}}" />
                            </button>

                        {{/if}}

                        {{#if labelType}}
                                                
                            <button type="button" class="btn btn-default btn-lg selectionButton" id="n{{this.index}}">
                                <span style="font-family:Arial; fontSize:12px; color:black;">{{this.text}}</span>
                            </button>

                        {{/if}}

                        {{#if notLocationOrLabel}}

                            <button type="button" class="btn btn-default btn-lg selectionButton" id="{{this.sn}}">
                                <img class="selectionImage" src="{{this.p}}" />
                            </button>
                        {{/if}}

                {{/each}}

                {{#if menuOpen}}

                    {{#if notLabelType}}

                        <button type="button" class="btn btn-default btn-lg selectionButton newEntityButton" id="newEntity">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                    {{/if}}

                {{/if}}
            
            </div>

        {{/if}}

    {{/if}}

    <audio autoplay id="musicPlayer">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer2">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="effectsPlayer3">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    <audio id="soundPlayer">
    <source src="" type="audio/mpeg">  
    Your browser does not support the audio element.
    </audio>

    {{> newNav}}

    {{> Template.dynamic template=content}}

    {{> youtube}}

    {{#if waitingOnDatabase}}
        <div class="divSpinner">
            {{> spinner}}
        </div>
    {{/if}}



  <div id="universalMessageText"></div>

	<div class="invisible" id="preloadMain">

        <img id="pSCAN" src="tvScannerYellow.png" />
        <img id="pSCAN2" src="tvScannerGreen.png" />   

        <img id="pFEATURE" src="geohacker_background.png" />   

        <img id="pBACKDROP" src="screenBackdrop.jpg" />   
        <img id="pBACKDROP2" src="featuredBackdrop.jpg" />

	</div>


	<div class="invisible" id="preloadFeature">
		<img id="imgPreloadFeature" src="" />
	</div>

    <div class="invisible" id="preloadCountryMap">
        <img id="imgCountryMap" src="" />
    </div>

    <div class="invisible" id="preloadDebrief">
        <img id="imgDebrief" src="" />
    </div>

    <div class="invisible" id="preloadDebrief2">
        <img id="imgDebrief2" src="" />
    </div>

    <div class="invisible" id="preloadStoryFiles">
        
        {{#each storyPreload}}

            <img id="ps{{ @index }}" src="{{this}}" />
 
        {{/each}}

    </div>
    
    <div class="modal fade" id="instagramPictures" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color:black">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title modalText helperAgentBioName" style="color:lightgrey; text-align:center">Select a photo from your Instagram account</h4>
          </div>

         {{>instagramPictures}}

          <div class="modal-footer">
            <button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal fade" id="helperAgentBio" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color:black">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title modalText helperAgentBioName" style="color:lightgrey; text-align:center"></h4>
          </div>

          {{> bio}}

          <div class="modal-footer">
            <button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-wide fade" id="zoomInModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modalText" id="modalTitle"></h4>
              </div>
              <div class="modal-body">
                <div class="divImgZoomInModal">
                    <img class="imgZoomInModal" src="" />
                </div>
                <textarea class="modalBody" id="modalText" style="color:black; font-family: Arial"></textarea>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default modalText" id="clearEvents" onclick="hacker.news.clear()">CLEAR</button>
            <button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="vedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="color:black; font-family: Arial;">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalText" id="vedModalHeader"></h4>
              </div>
              <div class="modal-body">
                {{> Template.dynamic template=vedModalTemplate}}
              </div>

          <div class="modal-footer">
            <!--button type="button" class="btn btn-default modalText" data-dismiss="modal">CLOSE</button-->
          </div>
        </div>
      </div>
    </div>

</template>


