<template name="newNav">

  <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav navbar-left ">
          <li class="dropdown menuFont">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GEOHACKER <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:void(0);" onclick="game.showHelp()">Instructions ...</a></li>
              <li><a href="javascript:void(0);" onclick="hack.autoHack()">Auto-hack ...</a></li>
              <li><a href="javascript:void(0);" onclick="hack.startNext()">Hack a different stream ...</a></li>
              <li><a href="javascript:void(0);" onclick="game.user.selectNewMission()">Start a new mission ...</a></li>
              <li class="divider"></li>
   
              <li><a href="javascript:void(0);" onclick="game.stopMusic()">Music off</a></li>
              <li><a href="javascript:void(0);" onclick="game.startMusic()">Music on</a></li>    
              
              <li class="divider"></li>
              <li><a href="http://geohackergame.com">Visit our website</a></li>   

              <li class="divider"></li>

              <!--this is a admin only function-->
              {{#if isInRole 'admin'}}
                  <li><a href="javascript:void(0);" onclick="nav.goAdmin('/userDirectory')">List all users</a></li>  
             
             {{/if}}

              {{#if displayIsReady}}

                {{#if isInRole 'editor'}} 

                  <li class="divider"></li>

                  <li><a href="javascript:void(0);" onclick="nav.goAdmin('/selectCountry')">Edit database</a></li> 
                  <li><a href="javascript:void(0);" onclick="nav.goAdmin('/editor')">Edit this country</a></li>  
                  <li><a href="javascript:void(0);" onclick="nav.goAdmin('/dataChecker')">Check country data</a></li> 
               
                 {{/if}} 

              {{/if}}

            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left ">
              <li class="dropdown menuFont">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LEARN <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:void(0);" onclick="switchLesson('africa', 'africa_1')">Learn Africa 1</a></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('africa', 'africa_2')">Learn Africa 2</a></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('africa', 'africa_3')">Learn Africa 3</a></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('africa', 'africa_4')">Learn Africa 4</a></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('africa', 'africa_5')">Learn Africa 5</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('asia', 'asia_1')">Learn Asia 1</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('asia', 'asia_2')">Learn Asia 2</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('asia', 'asia_3')">Learn Asia 3</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('asia', 'asia_4')">Learn Asia 4</a></li>  
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('europe', 'europe_1')">Learn Europe 1</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('europe', 'europe_2')">Learn Europe 2</a></li> 
                  <li><a href="javascript:void(0);" onclick="switchLesson('europe', 'europe_3')">Learn Europe 3</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('europe', 'europe_4')">Learn Europe 4</a></li>   
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('north_america', 'north_america_1')">Learn North America 1</a></li>  
                  <li><a href="javascript:void(0);" onclick="switchLesson('north_america', 'north_america_2')">Learn North America 2</a></li>  
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('oceania', 'ttp_oceania')">Learn Oceania</a></li>    
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" onclick="switchLesson('south_america', 'south_america_1')">Learn South America 1</a></li> 
                  <li><a href="javascript:void(0);" onclick="switchLesson('south_america', 'south_america_2')">Learn South America 2</a></li>   
                  <li class="divider"></li>
                </ul>
              </li>
        </ul>

      {{#if userHasAvatar}}
        
        <div class="navbar-header navbar-right">
          <a id="navHomeButton" class="navbar-brand"  href="javascript:void(0);" onclick="game.user.goHome()">
            <img id="imgNavHomeButton" alt="Brand" src="{{avatarURL}}" width="38" height="38">
          </a>
        </div>

        {{else}}

        <div class="navbar-header navbar-right">
          <a class="navbar-brand">
            <img alt="Brand" src="geohacker_logo.png" width="36" height="36">
          </a>
        </div>     

      {{/if}}
  
  </div>

  <div class="divNavBarLowerCover"></div>

</template>