<template name="newNav">

  <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav navbar-left ">
          <li class="dropdown menuFont">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GEOHACKER <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:void(0);" onclick="hack.autoHack()">Auto-hack ...</a></li>
              <li><a href="javascript:void(0);" onclick="hack.startNewFromMenu()">Hack a different message ...</a></li>
              <li><a href="/missionSelect">Start a new mission ...</a></li>
              <li class="divider"></li>
   
              <li><a href="javascript:void(0);" onclick="game.stopMusic()">Music off</a></li>
              <li><a href="javascript:void(0);" onclick="game.startMusic()">Music on</a></li>    
              
              <li class="divider"></li>

              <!--this is a admin only function-->

              <li><a href="/userDirectory">List all users</a></li>  

              {{#if displayIsReady}}

                <li class="divider"></li>
                <li><a href="/selectCountry">Edit database</a></li> 
                <li><a href="javascript:void(0);" onclick="display.switchToEditCountry()">Edit this country</a></li>  

              {{/if}}

            </ul>
          </li>
        </ul>

      {{#if userHasAvatar}}
        
        <div class="navbar-header navbar-right">
          <a class="navbar-brand"  href="javascript:void(0);" onclick="game.user.goHome()">
            <img alt="Brand" src="{{avatarURL}}" width="38" height="38">
          </a>
        </div>

        {{else}}

        <div class="navbar-header navbar-right">
          <a class="navbar-brand">
            <img alt="Brand" src="geohacker_logo.png" width="36" height="36">
          </a>
        </div>

         <!--ul class="nav navbar-right">
          <li role="button" class="active"><a class="menuFont" href="javascript:void(0);" onclick="game.logout()"><img src="geohacker_logo.png" /></a></li>
        </ul-->       

      {{/if}}
  
  </div>

</template>