.divMessageContainer {

	width: 35%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 78px;

}


.divMessage {
    display: -webkit-flex;
    display: flex;
	font-family: Arial;
	color: white;
    background-color: #2B3856;
    margin-bottom: 8px;
    max-width: 75%;
    position: static;
}

.divMessageBody {

	margin: 8px;
}

.agentMessageItem  {

	margin: 8px;
}

.divMessageTarget {
	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	z-index: 1000;
	background-color: black;
	height: 106px;
	top: 239px;

}

.messageTargetLabel {

    width: 100%;
	font-family: Arial;
	color: yellow;
	font-size: 9px;
	text-transform: uppercase;
	margin-top: -0.05%;
    margin-right: auto;
    margin-left: auto;
}

.imgAvatarMessageTargetMini {
position: static;
margin-top: 10px;
    width: 64px;
    height: 64px;
	border: 2px solid;
	border-color: #4AA02C;

}

.divMessageEntry {

    display: -webkit-flex;
    display: flex;
    background-color: #2B3856;
    float: left;
    margin-top: 1%;
        clear: both;
}

.imgAgentAvatarMessageMini {

    width: 32px;
    height: 32px;
	border: 1px solid;
	border-color: black;
	margin-top: 10px;
}

.agentNameMessaging {

	width: 100%;
	text-align: center;
	white-space: nowrap;
  	overflow: normal;

}

.frmMessageEntry {

	width: 98%;
}

.inputMessageEntry {
font-family: Arial;
	width: 94%;
}

.textUserEditMessage {


    font-family: Arial;
    font-size: 18px;
    color: black;
    margin: 8px;

}