/*lessonMenu.css*/

.btnGoLesson {

	position: relative;

	top: -1%;

	margin-top: 1.5%;

	font-family: headline;

    font-size: 3.5vh;

	text-transform: uppercase;

	z-index: 1000;
}

.menuMessages {
    
    z-index: 1050;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 3.0vh;
    text-align: center;
}

.lessonTickMark {

	font-family: Arial;

    font-size: 3.0vh;


}

.menuReturn {
    cursor: pointer;
    position: relative;
    top: 8px;

    z-index: 1050;
    text-transform: uppercase;

    font-size: 1.3vh;
}

#menuReturnText {

    color: yellow;
}
