 /******************************/

/*  Congrats   */

/******************************/

.darkButton {
  color: white;
  background-color: black; 
  border-radius: 5px;
  border: 2px solid;
  border-color: yellow;
  font-family: geoFont;
  font-size: 18px;
  padding-top: 6px;
}


/******************************/

/*  Closeup screen   */

/******************************/

#closeUpBox {
    
    position: absolute;

    width: 98%;
    height: 98%;

    border-radius: 7px;

    background-color: #A9A9A9;

}

#closeUpPic {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;
}




.sourceText {

  position: relative;

  text-align: center;

  top: 94%;

  color: black;

  text-transform: uppercase;

  cursor: pointer;
}

.sourceText:hover {

  color: blue;

text-decoration: underline;
}
