 /******************************/

/*  Congrats   */

/******************************/



.congratsHeadline {

   margin-top: 65px; 
   font-size: 48px; 
}

.hackReport {
  margin-top: 1%;


  border: 2px solid;
  border-color: yellow;
  border-radius: 5px;

  width: 55%;
  overflow: hidden;
  background: #383838;

} 

.hackReportText {

  font-size: 20px;
}

.congratsFlag {

    float: left;
    margin: 1%;
}

.ghBadge {
  float: left;
  margin-top: 16px;
}

.congratsAgentReport {
  margin-top: 1%;
  float: right;
  width: 45%;

}

.compositeBadge {
float: left;
    width: 144px;
    height: 170px;
    margin-right: 8px;
}

.compositeFlag {
    float: left;
    width: 296px;
}


.badgePic {
  float: left;
  border-radius: 5px;
  border: 3px solid;
  border-color: white;  
  margin-bottom: 16px;
  margin-left: 8px;
}


.blankBadge {
  float: left;
  border-radius: 5px;
  border: 3px dashed;
  border-color: gray;  
  margin-bottom: 16px;
  margin-left: 8px;
  width: 144px;
  height: 144px;
}

.badgeLabel {
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    top: -7%;
    pointer-events: none;
}

.missionEnd {

    position: relative;
    left: -50px;
}


/******************************/

/*
.darkButton {
  color: white;
  background-color: black; 
  border-radius: 5px;
  border: 2px solid;
  border-color: yellow;
  font-family: geoFont;
  font-size: 18px;
  padding-top: 6px;
}


.missionEndButtons {
  margin: 8px;
  height: 13%;

}

.badgeText {
  font-family: Arial;
  font-size: 1.0vmin;
  text-align: center;
}

.congratsAvatar {

  width: 100%;
  height: 90%;
  margin-top: 1%;
}

.congratsPortrait {
  float: left;
  width: 30%;
  height: 100%;
  margin: 2%;

}

.congratsAgentName {

  font-size: 2.0vmin;
  text-align: center;
  margin-top: 4%;
}


.hackReportLeft {
  
  border: 2px solid;
  border-color: yellow;
  border-radius: 5px;

  float: left; 
  width: 30%;
  background: #383838;
  margin-left: 3%;
}


.hackReportLeftText {
  
  font-family: geoFont;
    font-size: 1.6vmin;
  padding: 8px;
  color: yellow;
}


.statsHeadline {


  font-family: geoFont;
  font-size: 24px;
  color: #C0C0C0;
  margin-left: 8px;  
  position: relative;
  top: 6px;
}
*/

/*  Closeup screen   */

/******************************/

#closeUpBox {
    
    position: absolute;

    width: 98%;
    height: 98%;

    border-radius: 7px;

    background-color: #A9A9A9;

}

#closeUpPic {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;
}




.sourceText {

  font-size: 2.0vh;

  position: relative;

  text-align: center;

  top: 95%;

  color: black;

  text-transform: uppercase;

  cursor: pointer;
}

.sourceText:hover {

  color: blue;

text-decoration: underline;
}
