/******************************/

/*  Top-level elements       */

/******************************/


html,body {
	background-color: black;
	color: white;
	font-family: geoFont;
    height: 100%;
}

body {
    font-size: 16px;
}

@font-face {
    font-family: geoFont;
    src: url("BMmini.TTF");
}

.menuFont {
    font-size: 18px;
    text-transform: uppercase;
    color: #9d9d9d;
}

.navbar-right {

    margin-right: 1%;
}

.navbar-brand {

    padding-top: 6px;

    padding-right: 6px;
}

 /******************************/

/*  General use styles        */

/******************************/


.yellowText {

    color: yellow;
}

.whiteText {
    
    color: white;
}

.greenText {

  color: #33CC00;
}

.redText {
    
    color: red;
}

.blackText {
    
    color: black;
}


.darkGreyText {

  color: #A9A9A9;
}

.hackerFont {

    font-family: geoFont;
}

.hidden {
    display: hidden;
}


.invisible {
    display: none;
}

.uppercase {

    text-transform: uppercase;
}

.stretch {
    width: 100%;
    height: 100%;
}

.faded {
  opacity: 0.6;
}


.centered  {
  text-align: center;
}

.noCaret {
    cursor:pointer;
}
