/******************************/

/*  Top-level elements       */

/******************************/


html,body {
	background-color: black;
	color: white;
	font-family: geoFont;
    height: 100%;
}

body {
    font-size: 16px;
}

@font-face {
    font-family: geoFont;
    src: url("BMmini.TTF");
}

@font-face {
    font-family: scannerFont;
    src: url("DIGITALE.TTF");
}

@font-face {
    font-family: scannerFont2;
    src: url("bitwise.ttf");
}

.menuFont {
    font-size: 18px;
    text-transform: uppercase;
    color: #9d9d9d;
}

.scanFont {

    font-family: scannerFont;
}
.scanFont2 {

    font-family: scannerFont2;
}
.navbar-right {

    margin-right: 1%;
}

.navbar-brand {

    padding-top: 6px;

    padding-right: 6px;
}

 /******************************/

/*  General use styles        */

/******************************/

/*
.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}
*/

.modalText {
    color: black; 
    font-family: Arial;
}

.auto {
    margin: auto
}

.clear {
    clear: left;
}

.left {
    float : left;
}

.right {
    float: right;
}

.yellowText {

    color: yellow;
}

.whiteText {
    
    color: white;
}

.greenText {

  color: #33CC00;
}

.redText {
    
    color: red;
}

.blackText {
    
    color: black;
}


.darkGreyText {

  color: #A9A9A9;
}

.hackerFont {

    font-family: geoFont;
}

.hidden {
    display: hidden;
}


.invisible {
    display: none;
}

.uppercase {

    text-transform: uppercase;
}

.stretch {
    width: 100%;
    height: 100%;
}

.faded {
  opacity: 0.6;
}


.centered  {
  text-align: center;
}

.noCaret {
    cursor:pointer;
}
