.masonry {
  background: #EEE;
  max-width: 1200px;
}

.masonry .item {
  width:  128px;
  height: 128px;
  float: left;
  background: #383838;
  border: 2px solid #333;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.item.w2 { width:  256px; }
.item.w3 { width:  384px; }
.item.w4 { width:  512px; }

.item.h2 { height: 256px; }
.item.h3 { height: 384px; }
.item.h4 { height: 512px; }

.atlasPic {

	max-width: 100px;

	padding: 4px;
}


.atlasNameText {

  font-family: Arial;
  font-size: 12px;
  color: white;
  padding: 8px;
}

.atlasHackedText {

	font-family: Arial;
	font-size: 12px;
	
	color: yellow;
	padding: 4px;
}

.clear {
    clear: both;
}






