
.divHomeTop {

  position: fixed;

  top: 55px;

  border-radius: 6px;

  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 8px;
  background: #383838;

  overflow: hidden;
  z-index: 1000;
} 

.divHomeAvatar {

  float: left;
  margin: 0.5%;
  cursor: pointer;
}

.imgHomeAvatar {

  width: 128px;
  height: 128px;
  border-radius: 6px;
  border: 2px solid;
  border-color: black;
}


.divHomeButton {
  width: 12%;
  height: 150px;
  float: left;
  margin: 0.5%;
      border-radius: 6px;
  background: black;
  cursor: pointer;
}

.divHomeButtonPic {
  height: 100%;
  border: 6px solid;
  border-color: black;
  border-radius: 6px;
}

.divHomeButtonText {

  font-family: geoFont;
  font-size: 36px;
  color: white;
  margin-top: -1%;
}

.divHomeButtonClockOutText {

  font-family: geoFont;
  font-size: 1.8vw;
  color: white;
  margin-top: -1%;

}

.divAgentsButtonText {

  font-family: geoFont;
  font-size: 24px;
  color: white;
  margin-top: 1%;
}



.imgHomeButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;

  width: 60%;

  height: 70%;
}

.divHomeMapButton {
	float: right;
    cursor: pointer;
}

.homeMapButton {
    width: 128px;
    margin-top: 4%;
    margin-left: -4%;
    margin-bottom: 4%;
}

.homeAgentText {
	font-family: Arial;
	font-size: 12px;
	color: yellow;
	margin-top: 5%;
}

.homeAgentText2 {
	font-family: Arial;
	font-size: 12px;
	color: yellow;
	margin-top: 2%;
}

.divHomeContent {

  margin-top: 250px;

	margin-left: 2%;
  margin-right: 2%;

}
