.divPrimary {


}

.imgPrimaryThumb {

	width: 120px;
	height: 90px;

	border: 4px solid;
    border-color: gray;
    margin-left: 4px;		
    cursor: pointer;

}

.divPrimaryEntry{

	position: absolute;
	width: 120px;


}

.divPrimaryName {

	font-family: Arial;
	font-size: 14px;
	text-align: center;
}

.ytthumb {

	width: 120px;
	height: 90px;

	border: 4px solid;
    border-color: gray;
    margin-left: 4px;	

    cursor: pointer;

}

.divVideoThumbs {

	position: absolute;
	top: 85%;
	width: 120px;

}

.divBrowseText {
	position: absolute;
	text-align: center;

	top: 73%;

	font-family: Arial;

	font-size: 2.0vw;

	background: red;

}

.divLeftText {



	width: 28.5%;
	left: 4.5%;
  transform: perspective( 1000px ) rotateY( 45deg );

transform-origin: 104% -585%;

}

.divRightText {

	width: 26%;
	left: 67.1%;
  transform: perspective( 1000px ) rotateY( -45deg );

 transform-origin: -10% -575%;
}

.divBrowseFlagImg {

	position: absolute;

	left: 55%;

	top: 60px;

	z-index: 1000;

}

.imgFlag {

	border: 4px solid;
    border-color: gray;

}

.browseTransHomelandText {
	
	font-size: 1.5vw;

	color: yellow;
}

.browseHomelandText {
	position: absolute;
	top: 60px;
	left: 35%;
	font-family: Arial;
	text-align: left;
	 width: 400px;
	z-index: 100;

	color: white;

}

.browseNativeHomelandText {
	/*margin-top: -10%;*/
	/*font-size: 6.0vw;*/
}

.divRotatedImg {

	display: inline;

	position: relative;

	top: 180px;


	width: 100%;
}

.imgRotated {

	 transform-style: preserve-3d;

	width: 43%; 

	height: 66%;
}

.imgLeft {

  transform: perspective( 1000px ) rotateY( 45deg );


}

.imgRight {

	float: right;

  transform: perspective( 1000px ) rotateY( -45deg );

}

.divCenterImg {

	position: absolute;

	top: 24%;

	width: 100%;

	height: 50%;

	text-align: center;
}

.centerImg {

	width: 30%;
height: 75%;

}