.divCapitalText {

position:absolute;

	margin-top: -1%;

	margin-left: 0.6%;

	font-family: Arial;

	font-size: 1.5vw;

	background-color: red;

	text-align: center;

	width: 42%; 

transform-origin: 53% -500%;

transform: perspective( 1000px ) rotateY( 45deg );


}

.divLeaderText {

position:absolute;

	margin-top: -1%;

	margin-left: 0.6%;

	font-family: Arial;

	font-size: 1.5vw;

	background-color: red;

	text-align: center;

	width: 42%; 

	float: right;

transform-origin: 53% -500%;

transform: perspective( 1000px ) rotateY( -45deg );


}


.divBrowseFlagImg {

	position: absolute;

	left: 55%;

	height: 15%;

	top: 60px;

	z-index: 5000;
}


.imgFlag {

	border: 4px solid;
    border-color: gray;
	width: 25%;

	min-width: 200px;
}

.browseTransHomelandText {
	
	font-size: 1.5vw;

	color: yellow;
}

.browseHomelandText {
	position: absolute;
	top: 60px;
	left: 35%;
	font-family: Arial;
	text-align: left;
	 width: 400px;
	z-index: 100;

	color: white;

}

.browseNativeHomelandText {
	/*margin-top: -10%;*/
	/*font-size: 6.0vw;*/
}

.divRotatedImg {

	position: absolute;

	top: 180px;

	margin: 8px;

	width: 100%;

	transform-style: preserve-3d;
}

.imgRotated {

	width: 43%; 

	height: 36%;
}

.imgLeft {

  transform: perspective( 1000px ) rotateY( 45deg );


}

.imgRight {

	float: right;

  transform: perspective( 1000px ) rotateY( -45deg );

}

.divCenterImg {

	position: relative;

	top: 23%;

	/*margin: 8px;*/

	left: 35.5%;

	width: 100%;

	height: 50%;
}

.centerImg {

	width: 30%;
height: 75%;

}