.divStory {

position: absolute;

width: 100%;  

	height: 100%;

}

.divStoryTitle {

	font-family: storyHeadlineBold;

	font-size: 16.0vh;

	position: absolute;

	width: 100%;

	text-align: center;

	opacity: 0;

	z-index: 2000;
}

#headline1.divStoryTitle {

		top: 19%;
} 

#headline2.divStoryTitle {

		top: 37%;
}

.vedText {

	font-family: Arial; 

	color: yellow; 

	position: relative;

	float: right; 

	margin-right: 96px;

	top: 14px;

	z-index: 2000;
}



.divStoryMap {

	position: absolute;

	left: 1%;

	top: 55px;
}

.divStoryButtons {

  width: 98%;
  height: 13.5%;

  margin: 1%;

  cursor: pointer;

  position: fixed;

  top: 83%;

  z-index: 1003;
  border-radius: 8px;
  background-color: #303030;
}

div.storyButton {

	display: inline-block;

  	margin-top: 0.5%;

  	/* width for these is set in story.draw()  */
    
    height: 88%;
  	
  	margin-left: 1%;

  z-index: 1004;
}

.imgStoryButtonContent {

  z-index: 1005;

  	border-radius: 8px;

  	position: relative;

  	top: -96%;

  	left: 25%;

  	width: 45%;

  	height: 90%;

}

.imgStoryButtonBG {

  	border-radius: 8px;
}


.divStoryMessaging {

	position: absolute;

	top: 7%;

	width: 100%;

	z-index:  1010;		
}

.divChatBackdrop {

	position: fixed;

	width: 100%;

	height: 100%;

	top: 0px;

	z-index:  1009;	

	opacity: 0.75;		
}

.imgChatBackdrop {

	width: 100%;

	height: 99%;
}

.divStoryChar {

	position: absolute;

	z-index:  1002;

	opacity: 0;

	width: 128px;
}

.divStoryThing {

	position: absolute;

	z-index:  1001;

	opacity: 0;

	text-align: center;
}

.storyThingContent {

	position: absolute;

}

.storyThingContentBG {

	position: absolute;

}

.storyBG {

	width: 100%;

	height: 100%;

	opacity: 0;

	position: fixed;
}

.divExerciseButton {

	position: relative;

	width: 35%;

	top: 40%;

	margin: auto;
}

.storyChar {

	width: 96px;

	border-radius: 8px;

	display: block;

	margin-left: auto;

	margin-right: auto;
}


.stampContainer {
  margin: auto;
  visibility: hidden;
}

.stamp {
	font-family: Arial;
    border: solid 4px;
    border-radius: 16px;
    color: red;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    padding: 16px;
    opacity: 0;
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 30%;
    text-transform: uppercase;
    z-index: 5000;
  }


.storyCharName {

	width: 100%;

	text-align: center;

	font-family: Arial;

	font-size: 10;

	margin-top: 4px;

	color: yellow;

	background-color: black;
}

div#storyPromptText {

	color: gray;

	position: absolute;

	text-align: center;

	top: 16px;

	z-index: 1050;

	width: 75%;

	left: 12.5%;

	font-size: 20px;

	font-family: Arial;

	text-transform: uppercase;
}

@keyframes pulse {
  0% {transform: scale(1); }
  50% {transform: scale(1.1); }
  100% {transform: scale(1); }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.pulseAnimated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}



div.tooltip-inner {
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}