.editStoryModeButton {
	
	margin: 16px;
}

.editStoryModeButtonSel {
	
	font-size: 24px;
}

.fakeButton2 {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.topButtonStrip {

	position: relative;

	top: 10px;

	left: 10%;

	z-index: 2000;
}

.topButton {

	width: 32px;
	margin-left: 32px;
}

.topButton2 {

	position: relative;

	left: 32px;
}