.directEditTextArea {

  position: relative;

  top: 185px;

  left: 20px;

  color: black;

  font-family: Arial;

  padding-left: 16px;

}

.divEditStoryContent {

  position: relative;

}

.divLowerButtonStrip {

  position: fixed;

  

  margin-left: 275px;

  z-index: 3000;

  background-color: black;

}


.editStoryModeButton {
	
	margin: 16px;
}

.editStoryModeLowerButton {
  
  margin-left: 16px;

  margin-right: 16px;

  margin-top: 4px;

  margin-bottom: 4px;
}

.editStoryModeButtonSel {
	
	font-size: 24px;
}

.fakeButton2 {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.displayRecordText {

  color: black;

  font-family: Arial;
}

.chatDataArray {

  position: fixed;

  top: 90%;

  left: 20%;

  background-color: white;

  border: 1px solid #000000;
}

.storyDataTable {
position: relative;
  margin-top: 175px;

    font-family: Arial;
    background-color: white;
    color: black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}
