/* scanning.css  */

/*
*{
padding : 0;
margin : 0;
border : 0;
}
*/


.scanScreen{
	display : block;
	overflow : auto;
	position: absolute;
	overflow: hidden;
	top: 55px;
	left: 2%;
	width: 83%;
	z-index: 1000;
}

.topBanner{
	padding: 0.5%;
	float : left;
	clear : none;
	width : 100%;
}

.topBannerTextLeft{
	margin-left: 1%;
	float: left;
	clear : none;
	font-size: 12px;
	width: 45%;
	color: #04933e;
	font-family: scannerFont;

}

.topBannerRight{
	margin-left: 1%;
	float: right;
	width: 30%;
}

.topBannerTextRight{
	float: right;
	font-size: 10px;
	margin-right: 2.5%;
	margin-top: 2.5%;
	color: #ffef00;
}

.divScanCornerTopRight {

z-index: 1000;
	width: 45%;
	top: 50px;
	float: right;
}

.imgScanCornerRight {
	width: 8%;
	float: right;
}

.topBannerPic{
	clear : none;
	float: left;
	width : 15%;
  border: 2px solid;
  border-color: green;
  border-radius: 4px;
}

.imgTopBanner {

		width: 4%;
		float: left;
} 

.divAnalyzeStream {

	width: 33%;
}

.analyzeStreamText {
	font-size: 10px;
	color: #6d6e7b;

}

.analyzeStreamTextTitle {

	color: #969696;
}

.topRow {
		margin-top: 2%;
}

.middleBanner{
	padding: 1%;
	clear : none;
	width : 100%;
}

.middleBannerImage {

	width: 8%;
	margin: auto;
}

.imgScanBG {
	width: 100%;
}

.middleBannerTextRight{
	font-size: 12px;
	text-align: center;

}

.scanLowerText {

	color: #6d6e7b;
	font-size: 16px;
}

.scanLowerLeftText {

	margin-left: 1%;
}

.imgScanLowerMiddle {
	display: block;
	width: 60%;
	margin: auto;
}

.scanLowerMiddle {
	width: 25%;
}

.scanLowerRight {
	width: 25%;
}

.imgScanLowerRight {

margin-left: 1.5%;
	width: 10%;
}

.divScanGridGlobe {
	width: 25%;
}

.divImgScanGridGlobe {
	display: inline-block;
	width: 10%;
}

.imgScanGridGlobe {
	width: 8%;
}

.gridGlobeText {

	font-size: 12px;
}
.gridGlobeTextLower {

	font-size: 24px;
}

.divNormalGlobe {
	width: 60%;
}

.divImgNormalGlobe {
	width: 10%;
}

.imgNormalGlobe {
	width: 100%;
}

.normalGlobeText {
	font-size: 10px;
}

.bottomBanner{

	padding: 0.5%;
	float : left;
	clear : none;
	width : 100%;
	border: 2px solid;
	border-color: green;
	border-radius: 2px;
}

.bottomBannerUnit{

	float : left;
	clear : none;
	width : 33%;
}

.bottomBannerPic {
	margin-left: auto;
	margin-right: auto;
}

.imgBottomBanner {
  border: 2px solid;
  border-color: green;
  border-radius: 4px;
	width: 100%;
}

.unit1 {
	width : 40%;
}

.unit2 {
	width : 29%;
}

.unit3 {
	width : 60%;
}


.bottomBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100px;
width : 1050px;
}
