/* scanning.css  */

/*
*{
padding : 0;
margin : 0;
border : 0;
	display : block;
	overflow : auto;
	position: absolute;
	overflow: hidden;
	top: 55px;
	left: 2%;
	z-index: 1000;
}
*/

#scanScreen{
	opacity: 0;
}

.scanBG{
		z-index: 1000;

position: absolute;
	
	width: 25%;

	top: 50px;
	left: 0px;
}

.imgScanBG {

	width: 100%;
}

.scanText {
	display: inline-block;
	margin-top: 2.5%; 
	margin-left: 2%;
	margin-right: 2%;
	font-family: Arial;
		font-size: 14px;
}

.scanCenterText {
	margin-top: -10%;
	font-size: 18px;
	text-align: center;
}


.imgScanCornerTopLeft {
		width: 8%;
		float: left;
}

.imgScanCornerRight {
		width: 8%;
		float: right;
}

.divScanCornerTopLeft {
		z-index: 1000;

position: absolute;
	
	width: 36%;

	top: 50px;
	left: 0px;
}

.divScanCornerBottomLeft {
	
	z-index: 1000;
	position: absolute;
	width: 36%;

	top: 0px;
	left: 0px;
}

.scanDate {

	font-family: Arial;
	font-size: 12px;
}

.divScanCornerTopRight {

			z-index: 1000;
position: absolute;
	width: 36%;
	top: 50px;
	left: 0px;
}

.divScanCornerBottomRight {
			z-index: 1000;
	position: absolute;

	width: 36%;
	top: 0px;
	left: 0px;
}
