 /******************************/

/*  Editor   */

/******************************/

.menuBarBtn {

    position: fixed;
    z-index: 5000;
    top: 5px;
}

.menuBarBtnCont {

    font-size: 14px;
}

.menuBarBtnContSel {

    font-size: 20px;
}

.divDataChecker {
position: relative;
  top: 55px;
}

.dataCheckerClose {

  z-index: 5000;
  position: relative;
  margin-top: -15px;
  margin-left: -35px;
}


.editor {

    font-family: Arial;
    background-color: white;
    color: black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin: 25px;  
}

.countrySelector {
    font-family: Arial;
    background-color: white;
    color: black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin: 55px;  
}

.divCodeExplain {

    font-family: Arial;
    border: 1px solid #cccccc;
    background-color: black;
    color: white;
  width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 1%;
}

.divCodeExplainSelect {
 
  margin-top: 12px;
  width: 50%;
}

.divCodeExplanation {

  color: white;

float: right;

  position: relative;

  width: 49%;

  top: -40px;
}

.hiddenInput{
  height: 0;
  width: 0;
}

.fakeButton {
    border: 1px solid #cccccc;
    padding: 5px;
}

.control-label {
  color: black;
}


th,td {
    padding: 15px;
}

.editForm {

  width: 768px;
}

.dataTable {
  
  margin-top: 20px;
  width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.editFeaturedInterceptedText {
   color: black;
  margin: 10px;
}

.editFrame {

  width: 50%;
  height: 50%;

  border: 2px solid;
  border-radius: 7px;
  border-color: black;
  
  margin: 20px;
}


.debriefBoxEdit {
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    width: 85%;
    background-color: #A9A9A9;
    display: block; 
    margin: auto;

    font-family: geoFont;
}

.debriefPicFrameEdit {

  max-height: 450px;
  min-width: 300px;
  max-width: 600px;
  vertical-align: middle;

    border-radius: 7px;
    display: block; 
    margin: auto;
}

.ytVideoEditFrame {

    margin-top: 1%;
    margin-left: 2.5%;
}