/******************************/

/*  badge   */

/******************************/

#badgeBox {
    
    position: absolute;

    width: 48%;
    height: 48%;

    border-radius: 7px;

    background-color: #A9A9A9;

}

#badgePic {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;
}




.badgeTextLower {

  font-size: 3.0vh;

  position: relative;

  text-align: center;

  top: 95%;

  color: black;

  text-transform: uppercase;

  pointer-events: none;
}
