.bigButton {
  font-family: geoFont;
      font-size: 10.0vh;
  background-color: #808080;
  color: #FFFF33;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: #808080;
    margin-top: 2.0vh;
}

.divLoginForm {

	width: 48%;

	float: left;
}

.divIncognito {

	display: inline;

	width: 48%;

	float: right;
}

.incognitoList {

	font-size: 3.0vh;

	margin-top: 4%;
}

.btnIncognito {

	margin-left: 2%;
}

.divLogin {

	position: relative;

	top: -40px;
}

.loginPrompt {

	position: relative;

	top: 20px;
}

.loginRegistered {

	margin-top: 30px;
}


#login-form {

	position: relative;

	top: -40px;
}