 /******************************/

/*  Debriefing   */

/******************************/

.divClickToContinue {

    color: gray;


}

.debriefHeadline {
  position: absolute;
  font-size: 4.0vh;
}

.debriefText {
    
    position: fixed;
    top: 0px;
    left: 0px;
    color: black;
    font-size: 3.5vh;
}

.debriefBox {
    
    position: absolute;

    width: 92%;
    height: 80%;

    top: 15%; 
    margin-left: 4%;

    border-radius: 7px;

    background-color: #A9A9A9;

}

.debriefPicFrame {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;

}

.navButtonDebrief {

    position: absolute;
    top: 50%;  
    z-index: 1000;
    width: 4%;
    cursor:pointer;
}