
#lessonMapClose {
    position: absolute;
    top: 60px;
    z-index: 1050;   
}

.quizItem {

	margin-top: 15%;

	color: white;

	font-family: Arial;

	font-variant: bold;

	text-transform: uppercase;

	font-size: 72px;
}

.divTeachList {

	text-align: center;

		text-transform: uppercase;

		font-size: 24px;

position: relative;
left: 800px;


}

.divTeach {

	float: right; 
	position: relative; 
	top: 55px; 

	border-radius: 7px; 
	border: 4px solid; 
	border-color: gray;
}

.divTeachHeader {

	text-align: center;

	text-transform: uppercase;

	font-size: 32px;

	color: yellow;

	margin: 16px;

}

.divTeachBody {

	font-family: headline;

	text-transform: uppercase;

	margin: 8px;

	margin-left: 16px;

	text-align: center;

position: relative;
left: 800px;


}

.divTeachBody1 {

	font-size: 48px;

	color: white;
}

.divTeachBody2 {

	font-size: 144px;

	color: yellow;
}


.divTeachBody3 {

	font-size: 72px;

	color: white;
}

#lessonMapMessageBox {

    position: absolute;
    top: 8px;

    width: 100%;

    z-index: 1050;

	font-size: 28px;

	color: yellow;	

	text-align: center;
}

.btnQuiz {

	margin-top: 32px;

	font-size: 7.0vh;

	font-family: headline;
}

.btnQuizEnd {

	margin-top: 32px;

	font-size: 5.0vh;

	font-family: headline;
}
