.divStory {

	position: relative;

	width: 100%;

	height: 100%;
}

.divStoryChar {

	position: absolute;

	top: 50%;
}

.divExerciseButton {

	position: relative;

	width: 35%;

	top: 40%;

	margin: auto;
}

.storyChar {

	width: 96px;
}

.storySpot0 {

	left: 33%;
}

.storySpot1 {

	left: 66%;
}

div.tooltip-inner {
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}