.divStory {

	position: relative;

	width: 100%;

	height: 100%;
}

.divStoryChar {

	position: absolute;

	z-index:  1000;

	opacity: 1;
}

.divStoryOverlay {

	position: absolute;

	z-index:  1101;

	opacity: 1;
}

.storyOverlay {

	width: 30%;
}

.divStoryThing {

	position: absolute;

	z-index:  1100;

	opacity: 1;
}

.storyThingContent {

	position: absolute;

}


.storyBG {

	width: 100%;

	top: 55px;

	opacity: 0;
}

.divExerciseButton {

	position: relative;

	width: 35%;

	top: 40%;

	margin: auto;
}

.storyChar {

	width: 96px;
}

.storyCharName {

	width: 100%;

	text-align: center;

	font-family: Arial;

	font-size: 10;
}

div.tooltip-inner {
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}