


.transHomelandText {
	
	font-size: 18px;
}

.homelandText {
	position: absolute;
	margin-top: 12px;
	margin-left: -134px;
	font-family: Arial;
	text-align: left;
	   width: 400px;
	z-index: 100;
	font-size: 28px;

}

.divLearnCountry {

  display: flex;
  flex-flow: row;
  justify-content: center;

  -webkit-display: flex;
  -webkit-flex-flow: row;
  -webkit-justify-content: center;

   border: 2px solid;
   border-color: #383838;
   border-radius: 4px;

   width: 400px;

height: 200px;


   opacity: 0;
}

.divLearnCountry > div{
	display: flex;
	flex-flow: column;
	align-items: center;

	-webkit-flex-flow: column;
	-webkit-align-items: center;
}


.learnCapitalImage {

	margin-top: 8px;
	width: 232px;

	height: 75%;

}

.learnLeaderImage {

	width: 96px;

height: 128px;

	    -webkit-align-self: flex-end;
	align-self: flex-end;

}

.learnFlagImage {
	margin-top: 8px;
	width: 96px;
height: 58px;

	    -webkit-align-self: flex-end;
	align-self: flex-end;
}


.learnCapitalText {
	font-size: 18px;
	margin-top: 8px;
	margin-left: 12px;
	text-transform: uppercase;
}