


.transHomelandText {
	
	font-size: 80%;
}

.homelandText {
	position: absolute;
margin-top: 1%;
margin-left: -30%;
	font-family: Arial;
	text-align: left;
width: 75%;
	z-index: 100;
	font-size: 100%;

}

.divLearnCountry {

  display: flex;
  flex-flow: row;
  justify-content: center;

  -webkit-display: flex;
  -webkit-flex-flow: row;
  -webkit-justify-content: center;

   border: 2px solid;
   border-color: #383838;
   border-radius: 4px;

width: 25%;

   opacity: 0;
}

.divLearnCountry > div{
	display: flex;
	flex-flow: column;
	align-items: center;

	-webkit-flex-flow: column;
	-webkit-align-items: center;
}

.learnCapitalImage {

margin-top: 0.8%;
margin-right: -14%;
width: 115%;

}

.learnLeaderImage {

width: 75%;
	    -webkit-align-self: flex-end;
	align-self: flex-end;

}

.learnFlagImage {
margin-top: 0.8%;
width: 75%;
	    -webkit-align-self: flex-end;
	align-self: flex-end;
}


.learnCapitalText {
	font-size: 80%;
margin-top: 0.8%;
margin-left: 1%;
	text-transform: uppercase;
}