.divStoryMessageUser {
	font-family: Arial;
	color: white;
    background-color: #2B3856;
    margin-bottom: 8px;
    max-width: 62%;
    min-width: 42%;

    float: left:;
}

.divStoryMessageNPC {
	font-family: Arial;
	color: white;
    background-color: #2B3856;
    margin-bottom: 8px;
    max-width: 62%;
    min-width: 42%;

    float: right;
}


.divStoryMessageContainer {
    position: relative;
	width: 35%;
	margin-right: auto;
	margin-left: auto;

}

.divStoryMessageEntry {

    display: -webkit-flex;
    display: flex;
    background-color: #006400;
    position: relative;
    max-width: 52%;
    min-width: 42%;
    margin-top: 2%;
    margin-bottom: 8px;

}

.divStoryMessageTarget {

	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	z-index: 1000;
	background-color: black;
	height: 106px;
	top: 60px;

}





.btnChatChoice {

	font-family: Arial;

	font-size: 16px;
}



