.divStoryMessage {
    /*display: -webkit-flex;
    display: flex;*/
	font-family: Arial;
	color: white;

    margin-bottom: 8px;
    max-width: 75%;
    min-width: 52%;
    position: relative;
    top: 280px;
}

.storyMessageHelper {

    background-color: #2B3856;
}

.storyMessageUser {

	 background-color: #006400;
}


.divStoryMessageTarget {

	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	z-index: 1000;
	background-color: black;
	height: 106px;
	top: 60px;

}

.divStoryMessageContainer {

	width: 35%;
	margin-right: auto;
	margin-left: auto;
	position: relative;

	top: -175px;
}

.divStoryMessageEntry {

    display: -webkit-flex;
    display: flex;
    background-color: #006400;
    position: relative;
    float: left;
    top: 280px;
    margin-bottom: 8px;
        clear: both;
    min-width: 52%;

}

.divStoryMessageEntryPic {

	width: 64px;

}

.btnChatChoice {

	margin-right: 8px;

	margin-bottom: 8px;

	font-family: Arial;

	font-size: 16px;
}



