//agent.css


.divAgentAvatar {


}

.divAgent {
    display: -webkit-flex;
    display: flex;
    width: 480px;
    background-color: #2B3856;
    margin-bottom: 16px;
margin-left: 16px;
    float: left;
}

.agentItem {

	margin: 4px;
}

.imgAgentAvatar {

    width: 96px;
    height: 96px;
    background-color: #303030;
}

.agentLabel {

	font-family: Arial;
	color: yellow;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

.agentNameLabel {
  white-space: nowrap;
  overflow: hidden;
}

.agentFlagLabel {

	margin-top: -2px;
}

.divAgentStats {

	margin-top: 10px;
}

.agentStatusText {

	color: #4CC417;
}

.rounded {

   border-radius: 6px;    
}

.divAgentFlag {

	width: 128px;

}

.agentFlag {
	height: 64px;

}

.divAgentText {

	width: 192px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 16px;
	overflow: hidden;
	opacity: 1.0;
	float: right;
	
}

.agentText {

	font-family: Arial;
	font-size: 12px;
	color: lightgrey;
	margin-left: 8px;
	margin-top: -132px;
	color: yellow;
	width: 80%;
	opacity: 1.0;
	height: 118px;
	overflow: hidden;

}

.divAgentButton {
	width: 36px;
}


.imgAgentFeaturedPic {
text-align: center;
	height: 128px;

	opacity: 0.35;
	padding-bottom: 8px;

}

.imgAgentContactButton {

	background-color: black;
	height: 40px;
	padding: 4px;

	width: 32px;
	opacity: 0.66;
}

.imgAgentDeleteButton {


	margin-top: 48px;

	height: 32px;

	width: 32px;
	opacity: 0.66;
}


