


.divAgentAvatar {


}


.divWelcomeAgent {

}

.divBigAgentFlag {
	position: relative;
	width: 100%;
 

	z-index: 100;

}


.divBigAgent {
    display: -webkit-flex;
    display: flex;
   width: 92%;
   height: 10%;
    background-color: #2B3856;
    margin-bottom: 16px;
margin-left: 16px;
    float: left;
    padding: 1%;

    z-index: 5000;
}


.imgBigAgentAvatar {

    width: 100%;
    height: 100%;

    max-width: 96px;
    max-height: 96px;
   /* height: 172px;  */
    background-color: #303030;

    cursor: pointer;

}

.bigAgentLabel {
	position: relative;
margin-top: 5%;
	font-family: Arial;
	color: yellow;
	font-size: 1.5vh;
	text-align: center;
	text-transform: uppercase;

    pointer-events: none;	
}

.agentNameLabel {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5%;
}

.divBigAgentStats {

	margin-top: 10px;
}

.agentStatusText {

	color: #4CC417;
}

.rounded {

   border-radius: 6px;    
}

.divAgentFlag {

	/*width: 90%;*/
	  cursor: pointer;

}

.bigAgentFlag {

	height: 48%;
	width: 60%;
	margin-left: 15%;

}

.divAgentText {

	width: 58%;
	margin-left: 5%;
	padding-bottom: 16px;
	overflow: hidden;
	opacity: 1.0;
	float: right;
	
}

.bigAgentText {

	font-family: Arial;
	font-size: 1.5vh;
	/*margin-left: -5%;*/

	color: yellow;
	width: 75%;
	opacity: 1.0;
/*	height: 200px;  */
	overflow: hidden;

}

.bigAgentTitleText {

	padding-top: 5%;
}

.divBigAgentButton {
	width: 5%;
}

.divAgentFeaturedPic {

}


.imgBigAgentFeaturedPic {

	width: 62%;
	height: 70%;
	position: absolute;
	left: 30%;
	opacity: 0.35;
	padding-bottom: 0.5%;

}

.imgBigAgentContactButton {

	/*margin-top: 80%;*/

	/*margin-left: -16px;*/

	opacity: 0.66;
}


