//agent.css


.divAgentAvatar {


}


.divWelcomeAgent {

}

.divBigAgentFlag {
	position: relative;

 

	z-index: 100;

}


.divBigAgent {
    display: -webkit-flex;
    display: flex;
   width: 92%;
   height: 10%;
    background-color: #2B3856;
    margin-bottom: 16px;
margin-left: 16px;
    float: left;
    padding: 1%;

    z-index: 5000;
}


.imgBigAgentAvatar {

    width: 75%;
    height: 75%;
   /* height: 172px;  */
    background-color: #303030;

}

.bigAgentLabel {

	font-family: Arial;
	color: yellow;
	font-size: 2.0vh;
	text-align: center;
	text-transform: uppercase;
}

.agentNameLabel {
  white-space: nowrap;
  overflow: hidden;
}


.agentFlagLabel {

	margin-top: -2px;
}

.divAgentStats {

	margin-top: 10px;
}

.agentStatusText {

	color: #4CC417;
}

.rounded {

   border-radius: 6px;    
}

.divAgentFlag {

	/*width: 90%;*/
	  cursor: pointer;

}

.bigAgentFlag {
	/*height: 108px;*/
	width: 75%;

}

.divAgentText {

	width: 58%;
	margin-left: 5%;
	padding-bottom: 16px;
	overflow: hidden;
	opacity: 1.0;
	float: right;
	
}

.bigAgentText {

	font-family: Arial;
	font-size: 2.0vh;
	/*margin-left: -5%;*/
	/*margin-top: -35%*/
	margin-top: 5%;
	color: yellow;
	width: 75%;
	opacity: 1.0;
/*	height: 200px;  */
	overflow: hidden;

}

.divBigAgentButton {
	width: 5%;
}

.divBigAgentFeaturedPic {
position: absolute;
	/*width: 50%;*/
}


.imgBigAgentFeaturedPic {

	width: 62%;
	height: 70%;
	position: absolute;
	left: 30%;
	opacity: 0.35;
	padding-bottom: 0.5%;

}

.imgBigAgentContactButton {

	/*margin-top: 80%;*/

	/*margin-left: -16px;*/

	opacity: 0.66;
}


