//agent.css


.divAgentAvatar {


}

.divMiniAgentTitle {

	text-align: center

}


.miniAgentTitle {

	font-family: Arial;

	font-size: 10px;

	color: white;
margin-left: 5%:;

}

.divAgentMini {
    display: -webkit-flex;
    display: flex;
    width: 196px;
    background-color: #2B3856;
    
	margin-left: auto;
	margin-right: auto;
}

.agentItemMini {

	margin: 4px;
}

.imgAgentAvatarMini {

    width: 82px;
    height: 82px;
    background-color: #303030;
}

.agentLabelMini {
    width: 64px;
	font-family: Arial;
	color: yellow;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	margin-top: -1%;
}

.agentNameLabelMini {
text-align: center;
white-space: nowrap;
  overflow: normal;
}

.agentFlagLabelMini {
	margin-top: -1%;
    width: 100%;
	font-family: Arial;
	color: yellow;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}

.divAgentStatsMini{

	margin-top: 10px;
}

.divAgentMini {

	width: 98%;
	height: 80%;
	
}


.divAgentFlagMini {



}

.agentFlagMini {
	width: 85%;
	max-height: 60px;
}

.divAgentTextMini {

	width: 128px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 16px;
	overflow: hidden;
	opacity: 1.0;
	float: right;
	
}

.agentStatusTextMini {

	color: #4CC417;
}

.agentFlagMini {


}


.agentTextMini {

	font-family: Arial;
	font-size: 10px;
	color: lightgrey;
	margin-left: 8px;
	margin-top: -132px;
	color: yellow;
	width: 80%;
	opacity: 1.0;
	height: 96px;
	overflow: hidden;

}


.divAgentStatsMini {

	margin-top: 10px;
}

.agentStatusTextMini {

	color: #4CC417;
}


.divAgentButtonMini {
	margin-top: -1%;
	width: 12px;
	float: right;
		margin-right: 16px;
}

.imgAgentContactButtonMini {

	background-color: black;
	height: 24px;

	width: 24px;

	opacity: 0.66;
}



