 /******************************/

/*  Memes   */

/******************************/

.divMeme {

}

.memeText {
    
    position: absolute;
    text-align: center;

    top: 85%;

    font-family: Arial;

    font-size: 2.0vw;

    background: red;

    color: white;
    z-index: 990;

    padding: 0.25%;
}

.memePicFrame {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;
    z-index: 989;
}



.memeSourceText {

  font-size: 2.0vh;

  position: relative;

  text-align: center;

  top: 95%;

  color: white;

  text-transform: uppercase;

  cursor: pointer;
}
