 /******************************/

/*  Memes   */

/******************************/

.memeTextRow {
    
    position: absolute;
    text-align: center;

    font-family: Arial;

    font-size: 1.0vw;

    background: red;

    color: white;
    z-index: 990;

    padding: 0.25%;

    width: 100%;

  top: 85%; 
}

.memePicFrameRow {

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    border-radius: 7px;
    z-index: 989;
}



.divSourceAndQuestion {
  width: 100%;
text-align: center;
  position: absolute;

  top: 95%; 

  z-index: 1000;

}


.questionButton {


  margin-left: 5%;

}

.questionButtonImage {

  font-size: 16px;

}

.memeText {
    
    position: absolute;
    text-align: center;

    top: 85%;

    font-family: Arial;

    font-size: 2.0vw;

    background: red;

    color: white;
    z-index: 1001 ;

    padding: 0.25%;
}

.memePicFrame {

    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 7px;
    z-index: 1000;
}

.memeOuterFrame {

    position: absolute;
    top: 0px;
    left: 0px;


    border-radius: 13px;
    z-index: 999;
}

.memeCloseButton {

    position: absolute;
    top: 0px;
    left: 0px;



    border-radius: 5px;
    z-index: 1001;

    background: red;

    font-size: 28px;
}

.memeSourceText {

  font-size: 2.0vh;

  position: relative;

  text-align: center;

  top: 95%;

  color: white;

  text-transform: uppercase;

  cursor: pointer;
}
