.divNewBrowse2 {

}

.divBigPic {
	position: absolute;
	top: 15%;
	left: 2%;
	width: 60%;
  height: 69%;
}


.browserMemeText {
position: absolute;
  text-align: center;
  font-family: Arial;  
   width: 100%;

   margin-top: 0px;

  background-color: red;
  color: white;
  
  z-index: 105;
}


.bigPicText {

  font-size: 3.0vw;
 /*  height:6.0vh;  */ 
  z-index: 100;
  top: 90%;
}

.smallPicText {
  font-size: 1.5vw;
/*   height:4.0vh;  */
  z-index: 100;

    top: 83.5%; /*90.5*/
}

.browseButtonLarge {
color: white;

	font-size: 2.0vw;

	width: 75%;

	height: 75%;

	position: relative;

	left: -23%;

}

.browseHomelandText {


  position: absolute;
  
  font-family: Arial;
  
/*  font-size: 8.0vh;  */
  
  left: 2%;
  
 top: 55px;

 	z-index:1000;
}

.browseTranslatedCountryName {
  
  position: relative;

  font-family: Arial;
  
/*  font-size: 3.0vh;  */

}

.bigPic {
	position: absolute;
/*  width: 100%;
  height: 100%;  */
  border-radius: 8px;
}

.video {
	
	position: absolute;
	top: 26%;
	left: 65%;
	width: 34%;
  height: 38%;
  border-radius: 8px;
}
.thumbs {
	
	position: absolute;
	top: 85%;
	left: 2%;
	width: 60%;
  height: 14%;
  border-radius: 8px;
}

.divSmallPic {
	
	position: absolute;
	top: 66%;
	left: 65%;
	width: 34%;
  height: 31%;
}


.smallPic {
		position: absolute;

/*	width: 100%;
  height: 100%;  */
  border-radius: 8px;
}

.imgPositionOnGlobe {

	width: 60%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
}



.flag {
	
	position: absolute;
	top: 9%;
	left: 81%;
	width: 16%;
  height: 16%;
  border-radius: 8px;
 color: gray;
  border: solid 3px;
}

.imgBrowseCountryMap {

	width: 100%;

	height: 100%;
}

.browseButtonUpper {

	position: absolute;
	top: 60px;
	width: 4%;
  height: 6%;
  border-radius: 8px;
}

.browseButtonGlobe {
	left: 65%;
	position: absolute;
	top: 13.75%;
width: 10%;
}

.browseButtonAgent {
	left: 71.5%;
	position: absolute;
	top: 14%;
width: 8.5%;
}


.browseButton {

	position: absolute;
	top: 18%;
	width: 4%;
  height: 6%;
  border-radius: 8px;
}


.map {	

	left: 65%;
}


.speech {
	left: 70%;

}

.anthem {
	left: 75%;

}

.soundText {
	
	position: absolute;
	top: 8%;
	left: 65%;
	width: 15%;
  height: 9%;

  font-family: Arial;

  font-size: 1.75vh;

}

.ytthumb {

	width: 120px;
	height: 90px;

	border: 4px solid;
    border-color: gray;
    margin-left: 4px;	

    cursor: pointer;

    z-index: 102;

}

.divVideoThumbs {

	position: absolute;
	top: 86%;
	width: 65%;

	height: 140px;

	overflow: auto;

	overflow-y:hidden;

}

.divVideoThumb {

	position: absolute;

	width: 4%;

	z-index: 102;

}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/


.returnToPrevMode {
    cursor: pointer;
    position: relative;
    top: 0px;

    z-index: 1050;
    text-transform: uppercase;

    width: 15%;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.3vh;
}

#returnText {

    color: yellow;
}


.divVideoName {

	font-family: Arial;
	font-size: 14px;
	text-align: center;
}


